.admintools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.addproductsinput {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#adminpage {
  display: none;
}

#updateimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.editors {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#productimage {
  margin-top: 10px;
}

.product-details input {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .addproductsinput {
    margin-top: 10px;
    padding: 0 10px;
    flex-direction: column;
  }
}
