.emptycart {
  margin-top: 30px;
  display: none;
  justify-content: space-between;
}

.empty-message {
  width: 50%;
}

.message-content p {
  font-size: 50px;
  font-weight: 500;
}
.message-content a {
  font-size: 50px;
  font-weight: 500;
  text-decoration: underline;
  color: #f2f2f2;
}

.empty-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.empty-image img {
  width: 80%;
}

.cart-back {
  padding: 8px 10px;
  border-radius: 100px;
  background-color: #5c8374;
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
}

.cart-back:hover {
  background: #1b4242;
  color: #f2f2f2;
  scale: 1.1;
}

.cart-value {
  font-size: 20px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  background: #5c8374;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .cart-value {
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .emptycart {
    margin-top: 10px;
    flex-direction: column;
  }
  .empty-message {
    width: 100%;
    padding: 10px;
  }
  .message-content p {
    font-size: 30px;
  }
  .message-content a {
    font-size: 35px;
  }

  .empty-image {
    width: 65%;
    align-self: center;
  }
}
