* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #092635;
  color: #f2f2f2;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}

.light {
  background: white !important;
  color: #495464 !important;
}

.grey {
  background: #bbbfca !important;
}

.light-grey {
  background: #e8e8e8 !important;
  color: #495464 !important;
}

.buttons {
  background: #495464 !important  ;
  color: #e8e8e8 !important;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#unauthorized {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#unauthorized .title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.loggedoutinfo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.loggedoutinfo p {
  font-size: 30px;
  font-weight: 400;
}

.loggedoutinfo .login-again {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #5c8374;
  max-width: 300px;
  transition: all 0.3s ease;
}

.loggedoutinfo .login-again a {
  color: #f2f2f2;
  text-decoration: none;
}

.loggedoutinfo .login-again:hover {
  background-color: #1b4242;
  cursor: pointer;
}

.login-form {
  margin: 0 auto;
  width: 50%;
  max-width: 300px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.login-image {
  width: 50%;
}

.login-title p {
  font-size: 70px;
  font-weight: 600;
}

.login-register {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.login {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  transition: all 0.3s ease;
  display: none;
}

input {
  padding: 10px;
  border-radius: 15px;
  outline: 0;
  border: 1px solid grey;
  transition: all 0.3s ease;
}

.tabs {
  display: flex;
  gap: 10px;
  transition: all 0.3s ease;
}

.tab {
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid grey;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab:hover,
input[type="button"]:hover {
  cursor: pointer;
  background: #1b4242;
  color: #f2f2f2;
  scale: 1.1;
}

.tab,
input[type="button"] {
  background: #5c8374;
  color: #f2f2f2;
}

.selected {
  background: #1b4242;
  color: #f2f2f2;
}

.display-flex {
  display: flex !important;
}

.display {
  display: block !important;
}

.display-none {
  display: none;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#savelogin {
  accent-color: #5c8374;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .content-wrapper {
    flex-direction: column;
  }

  .login-form {
    margin-top: 5px;
    width: unset;
    max-width: 240px;
  }

  .login-image {
    margin-top: 10px;
    width: 70%;
  }
  .login-image img {
    width: 100%;
  }

  #unauthorized {
    height: 100vh;
    justify-content: space-evenly;
  }
  .loggedoutimg img {
    width: 100%;
  }
  .light-grey-small {
    background: #e8e8e8 !important;
    color: #495464 !important;
  }
}
